<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/socket.io.js"></script>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      Hola
  </body>
</html>
